:root {
    --bg: #f5f7fb;
    --card: #ffffff;
    --text: #111;
    --sidebar: #1e293b;
    --accent: #6366f1;
}

body.dark {
    --bg: #0f172a;
    --card: #020617;
    --text: #e5e7eb;
    --sidebar: #020617;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    display: flex;
    background: var(--bg);
    color: var(--text);
    height: 100vh;
}

.sidebar {
    width: 230px;
    background: var(--sidebar);
    color: #fff;
    padding: 20px;
}

.logo {
    margin-bottom: 20px;
    text-align: center
}

.sidebar ul li {
    list-style: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 8px;
}

.sidebar ul li.active,
.sidebar ul li:hover {
    background: var(--accent);
}

main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
}

.stat {
    padding: 18px;
    border-radius: 14px;
    color: #fff;
}

.blue {
    background: #3b82f6
}

.green {
    background: #22c55e
}

.purple {
    background: #8b5cf6
}

.red {
    background: #ef4444
}

.grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background: var(--card);
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .08);
}

.map {
    width: 100%;
    height: 200px;
    object-fit: contain
}

.activity li {
    margin: 10px 0
}

.section {
    display: none
}

.section.active {
    display: block
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

button {
    padding: 10px 16px;
    background: var(--accent);
    color: #fff;
    border: none;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
}